{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="section">
        <h2>Upload File</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="fileInput" class="form-label">Choose a file</label>
                <input class="form-control" type="file" id="fileInput" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
